
.section-om-oss {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  align-items: center;
  margin: 0 auto;
}

.section-om-oss__picture-scroller {
    position: relative;
    padding-bottom: 10px;
    /* height: fit-content; */
    width: 100%;
    z-index: 0;
}
  
  .section-om-oss__picture-scroller__button-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
  .section-om-oss__picture-scroller__button-container:hover {
    opacity: 1;
  }
  
  .section-om-oss__picture-scroller__play-stop-container {
    position: absolute;
    bottom: 100px;
    left: 49%;
    transform: translateX(-50%);

    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 4;
  }
  
  .section-om-oss__picture-scroller__button-left,
  .section-om-oss__picture-scroller__button-right,
  .section-om-oss__picture-scroller__button-play {
    cursor: pointer;
  }

  .section-om-oss__picture-scroller__button-play {
    background: transparent;
    border: none;
    padding: 14px;
  }
  .section-om-oss__picture-scroller__button-play img{
    height: 35px;
    width: 35px;
    opacity: 1;
  }
  
  .section-om-oss__picture-scroller__button-left,
  .section-om-oss__picture-scroller__button-right {
    background: #0a0a0a63;
    border: none;
    padding: 3px;
    border-radius: 4px;
    margin: 0 10px 0 10px;
  }
  
  
  .section-om-oss__picture-scroller__button-left img,
  .section-om-oss__picture-scroller__button-right img{
    height: 45px;
    width: 45px;
    /* opacity: 0.9; */
  }
  
  .section-om-oss__picture-scroller__article-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: var(--black);
    /* border: 1px solid var(--red); */
    height: fit-content;
    width: 100%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px var(--red);
    border-radius: 4px;
  }
  
  .section-om-oss__picture-scroller__article {
    width: 95vw;
    animation: section-om-oss__picture-scroller__article__fade-in 1s ease 1;
    position: relative;
  
  }
  
  @keyframes section-om-oss__picture-scroller__article__fade-in {
    0% {
      opacity: 0;
      right: -100vw;
    }
    100% {
      opacity: 1;
      right: 0px;
    }
  }
/*   
  .fade-out-image {
    animation: section-om-oss__picture-scroller__article__fade-out 1s ease-in 1;
  } */
  /* .fade-out-image {
    opacity: 0;
    transition: opacity 1s ease-out;
}
  @keyframes section-om-oss__picture-scroller__article__fade-out {
    0% {
      opacity: 1;
      z-index: 2;
    }
    100% {
      opacity: 0;
      z-index: 1;
    }
  } */

  .section-om-oss__picture-scroller__article__img-container {
    width: calc(100vw - 2px); /*2px är 1px padding runt bild och 1px border runt container*/
    max-width: 800px;
    height: 60vw;
    max-height: 480px;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  
  
  .section-om-oss__picture-scroller__article p {
  color: white;
  border-top: 1px solid var(--red);
  opacity: 0;
  animation: section-om-oss__picture-scroller__article__fade-in 2s ease 1;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  padding: 8px 65px 8px 15px;
  width: 100vw;
  max-width: 800px;
  height: 88px;
  font-size: 15px;
  }
  
  
  .section-om-oss__picture-scroller__article__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; 
    left: 0; 
    padding: 1px;
  }
  
  .section-om-oss__information {
    background-color: var(--black);
    margin-bottom: var(--padding);
    border: 1px solid var(--red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px var(--red);
    border-radius: 4px;
  }
  .section-om-oss__information p {
    font-size: large;
    color: var(--white);
    padding: var(--padding);
    width: 100%;
  }
  .section-om-oss__information img {
    width: 150px;
    align-self: center;
  }
  .h3-om-oss {
    color: var(--red);
    padding: var(--padding);
    /* display: inline; */
    font-weight: 400;
    max-width: 50%;
    height: 2rem;
  }

  .social-media-icon-container {
    margin: 0 auto;
    width: 200px;
    display: flex;
    justify-content: space-around;
  }
  .social-media-icon-container img {
    height: 70px;
    width: 70px;
    cursor: pointer;

  }