/* Roots-variabler,  */
:root {
  --padding: calc(8px + 1.5625vw);
  --font: calc(15px + 0.390625vw);

  --red: #f04245;
  --light-red: #ff5252;
  --black: #0a0a0a;
  --white: #f3f7f3;

  --body-bg: #0a0a0a;
  --nav-bg-color: #0a0a0a;
  --nav-text-color: #f04245;
  --menu-icon: #f04245;
  --menu-bg-color: #f04245;
  --menu-li-border: #0a0a0a;
  --menu-a-color: #0a0a0a;
  --figure-logo-color: #8aa1b1;

  --p-dagens-bg: #2c4251;
  --p-dagens-color: #2c4251;
  --article-dish-bg: #0a0a0a;
  --p-dish-color: #f3f7f3;
  --h1-dish-color: #0a0a0a;
  --h1-dish-bg: #0a0a0a;
  --h3-dish-color: #f04245;

  --button-halfcircle-bg: #f04245;
  --button-halfcircle-color: #2c4251;

  --footer-bg: #0a0a0a;

  --border-color: #f04245;

  --red: #f04245;
  --black: #0a0a0a;
  --white: #f3f7f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------------------------------- */
/* Today's Dishes */
.todays-dishes {
  color: var(--white);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.todays-dish {
  padding: 2rem;
  line-height: 1.5;
  font-size: 18px;
}
.todays-dish-img {
  width: 260px;
}
.todays-dish-country {
  font-size: 14px;
  color: var(--red);
  margin-bottom: 1rem;
}
/* -------------------------------------------------------------------------------- */

body {
  font-size: var(--font);
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
  color: #282828;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  &:focus {
    outline: 2px solid #9999ff;
  }
}

header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid var(--red);
}

nav {
  background-color: var(--black);
  width: 30%;
  position: relative;
  display: flex;
}

/* Container för nav och figure(logotyp) */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding);
}

/* Logotyp */
#restaurant-logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* Knapp för hamburgermenyn */
.menu-button {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* Hamburgerikon */
.menu-icon {
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: 3rem;
  color: var(--red);
}

/* Dropdownmenyn */
menu {
  display: none;
  flex-direction: column;
  justify-content: stretch;
  position: absolute;
  top: 100%;
  left: 0;
  width: 75vw;
  border: 1px solid var(--black);
  list-style: none;
  overflow: hidden;
  z-index: 20;
}

/* Menyns rader */
menu li {
  flex-grow: 1;
  display: inline-block;
  border-bottom: 1px solid var(--black);
  background-color: var(--red);
}
menu li:nth-child(5) {
  border-bottom: 0;
}

/* Länkarna i dropdownmenyn */
menu a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--black);
  font-size: 1.7rem;
  padding: var(--padding);
}
/* Visar dropdownmenyn */
.menu-open {
  display: flex;
}

/* Button - till filter */
.button-filter {
  height: 3vh;
  flex-grow: 1;
  text-align: center;
  background-color: var(--black);
  color: var(--red);
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  border-left: 1px solid var(--red);
  border-right: 0;
  transition: all 0.2s ease;
}
.button-filter:nth-child(4) {
  border-right: 1px solid var(--red);
}
.button-filter-active {
  color: var(--black);
  background-color: var(--red);
}

/* ************************************ MAIN ******************************************** */
main {
  padding: var(--padding);
  width: 100%;
  height: 100%;
  min-height: 75vh;
  max-height: 80vh;
  overflow-y: auto;
}

/* h1 - huvudrubrik till de olika sidorna */
.h1-dish {
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--black);
  color: var(--red);
  padding: var(--padding);
  text-align: center;
  margin-bottom: var(--padding);
  border: 1px solid var(--red);
}

/* Article - menyobjekten på första sidan(dagens) och meny-sidan */
.article-dish {
  background-color: var(--black);
  margin-bottom: var(--padding);
  border: 1px solid var(--red);
}

.p-article-originandrate {
  height: 2rem;
  padding: 0.5rem;
}
.span-p-origin {
  font-size: 1rem;
  color: var(--red);
  float: left;
}
.span-p-rate {
  font-size: 1rem;
  color: var(--red);
  float: right;
}

/* Img - Bild på maträtt  */
.img-dish {
  width: 100%;
  margin-bottom: var(--padding);
}
/* Span - container för "lägg till"-knapp och maträttens namn */
.span-dish {
  display: flex;
  width: 100%;
}

/* Button - "lägg till"-knappen */
.button-article-add {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1.2rem; */
  background-color: var(--red);
  color: var(--white);
  height: 4rem;
  width: 25%;
  border-radius: 0 2rem 2rem 0;
  border: 0;
}

/* .button-article-add {
  font-size: 1.5rem;
  background-color: var(--red);
  color: var(--white);
  height: 4rem;
  width: 2rem;
  padding: var(--padding);
  border-radius: 0 2rem 2rem 0;
  border: 0;
  transition: width 1s ease-in-out;
} */
/* Klass för att toggla - expanderar "lägg till"-knappen */
/* .button-article-add-open {
  width: 50%;
} */

/* h3 - Maträttens namn */
.h3-dish {
  color: var(--red);
  padding: var(--padding);
  display: inline;
  font-weight: 400;
  max-width: 50%;
  height: 2rem;
}
/* P - beskrivning av maträtten */
.p-dish {
  color: var(--white);
  padding: var(--padding);
}
.p-price {
  color: var(--red);
  font-size: 1.5rem;
  text-align: right;
  padding: var(--padding);
}

/* **************************** FOOTER **************************** */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 90vh;
  width: 100%;
  height: 90vh;
  background-color: var(--black);
  border-top: 1px solid var(--red);
  z-index: 15;
  transition: all 1s ease-in-out;
}

/* Klass för att toggla expansion av footern */
.footer-open {
  top: 10vh;
}

/* Klass för att visa att maträtt lagts till i beställning */
.footer-added {
  background-color: var(--white);
}

/* Section - container för den synliga delen av footern */
.section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: var(--padding);
}
/* h3 - "Valda maträtter" */
.h3-footer {
  width: 40vw;
  height: 8vh;
  line-height: 8vh;
  color: var(--red);
  font-weight: 400;
}
/* Span - visar antalet tillagda maträtter */
.span-footer-dishes {
  height: 8vh;
  width: 20vw;
  line-height: 8vh;
  color: var(--red);
  font-weight: 400;
}

/* Button - expanderar footern */
.button-footer-opener {
  width: 30vw;
  height: 6vh;
  border: 1px solid var(--red);
  background-color: var(--black);
  color: var(--red);
}

/* Section - container för att visa beställning */
.section-footer-order {
  width: 100%;
  padding: var(--padding);
}

/* Ul - lista för att vias valda maträtter */
.ul-footer-order {
  width: 100%;
  list-style: none;
  padding: var(--padding);
}

/* li - listans rader, container för radinnehållet */
.li-order {
  width: 100%;
  color: var(--red);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.3rem;
  border-bottom: 1px solid var(--red);
}
.li-order:nth-child(1) {
  border-top: 1px solid var(--red);
}

/* Span - visar namnet på vald maträtt */
.span-footer-itemname {
  width: 45%;
  font-size: 0.9rem;
}

/* span - visar antal tillagda av maträtt */
.span-footer-numberofitem {
  width: 10%;
  font-size: 0.9rem;
}

/* Span - container för "lägg till"- & "ta bort"-knapparna */
.span-footer-buttons {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Button - "lägg till"- & "ta bort"-knapp */
.button-footer-order {
  width: 45%;
  color: var(--red);
  background-color: var(--black);
  border: 1px solid var(--red);
  font-size: 0.7rem;
}

/* Section - container, längst ner.  */
.section-footer-submitorder {
  width: 100%;
  height: 20vh;
  padding: var(--padding);
  text-align: center;
}

/* Button - knapp för att lägga beställning */
.button-footer-submitorder {
  width: 40%;
  font-size: 1.3rem;
  color: var(--red);
  background-color: var(--black);
  border: 1px solid var(--red);
  padding: var(--padding);
}

/* filter meny  */

/* .p-name, .p-dsc, .p-price, .p-rate, .p-country { 
  width: 100%;
  color: #F04245;
} */

.li-submenu-filter {
  margin-top: 2em;
  background-color: #f3f7f3;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.button-menu-filter {
  border: 0;
  padding: 0.3em;
  font-size: 1.5em;
  flex-grow: 1;
  outline: 1px solid #f04245;
  background-color: #0a0a0a;
  color: #f04245;
}
.button-active {
  color: #0a0a0a;
  background-color: #f04245;
}

.button-menu-filter-sub1,
.button-menu-filter-sub2,
.button-menu-filter-sub3,
.button-menu-filter-sub4 {
  background-color: #0a0a0a;
  color: #f3f7f3;
  outline: 1px solid #f3f7f3;
  border: 0;
  padding: 0.3em;
  font-size: 1.5em;
  flex-grow: 1;
}
.button-sub-active {
  color: #0a0a0a;
  background-color: #f3f7f3;
}

/* Klass för att toggla olika element att döljas/visas */
.hide {
  display: none;
}
